/* General layout */
.main-layout {
    display: flex;
    height: 100vh; /* Full height */
    width: 100%;
    overflow: hidden;
}

/* Content layout */
.content-about-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 每列最小宽度 300px，最大填充剩余空间 */
    gap: 50px; /* 左右間隔 */
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

/* About photo */
.about-photo img {
    width: 500px;
    height: 100%;
}

/* About text */
.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 第一段靠上，第三段靠下 */
}

/* About title */
.about-text h1 {
    font-size: 28px;
    font-family: "Blinker", sans-serif;
    font-weight: 600; /* semibold */
    margin-bottom: 36px; /* 與敘述文字間距 */
    text-align: start;
}

/* Description text */
.description {
    font-size: 16px;
    font-family: "Blinker", sans-serif;
    line-height: 1.6;
    margin-bottom: auto; /* 將第三段推到下方 */
    text-align: start;
}

/* Closing line */
.closing-line {
    font-size: 16px;
    font-family: "Blinker", sans-serif;
    text-align: start;
    margin-top: auto; /* 靠下對齊 */
}
