@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* 這是調整整個頁面左邊navbar以及右邊content的排版 */
.main-layout {
    display: flex; /* 水平佈局 */
    height: 100vh; /* 高度佔滿視窗 */
    width: 100%; /* 確保寬度佔滿 */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Blinker", sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}
