/* 父容器设置 */
.content-project-page {
    display: grid;
    flex: 1; /* 填充剩余空间 */
    gap: 50px; /* 内容之间的间距 */
    padding: 50px;
    width: 100%; /* 確保內容寬度佔滿 */
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 每列最小宽度 300px，最大填充剩余空间 */
    overflow-x: hidden;
}

/* 主标题样式 */
.project-title {
    grid-column: 1 / -1; /* 跨越所有列 */
    font-size: 28px;
    font-family: "Blinker", sans-serif;
    font-weight: 600; /* semibold */
    text-align: start; /* 文字靠左对齐 */
}

/* 每个项目部分的样式 */
.project-section {
    position: relative;
    width: 100%; /* 占满网格列 */
    height: 300px; /* 占满网格列 */
    display: flex; /* 使用 Flex 布局 */
    flex-direction: column; /* 垂直排列 */
    gap: 50px; /* 内部元素间距 */
    font-family: "Blinker", sans-serif;
    text-align: start; /* 文字靠左对齐 */
}

.project-text {
    font-size: 16px;
    gap: 18px
}

/* 小标题样式 */
.project-section h2 {
    font-size: 18px;
    font-weight: 600; /* semibold */
    text-align: start; /* 文字靠左对齐 */
}

/* 横向图片样式 */
.horizontal-image {
    width: 100%; /* 撑满容器宽度 */
    height: auto; /* 自动调整高度 */
    object-fit: cover; /* 确保图片比例不变 */
    grid-column: 1 / -1; /* 跨越所有列 */
}

/* 方形图片样式 */
.project-grid {
    width: 100%; /* 占满网格列 */
    height: 300px; /* 占满网格列 */
    display: flex; /* 使用 Flex 布局 */
    flex-direction: column; /* 垂直排列 */
    gap: 50px; /* 内部元素间距 */
    font-family: "Blinker", sans-serif;
    text-align: start; /* 文字靠左对齐 */
}


.square-image {
    width: 100%; /* 占满网格列 */
    aspect-ratio: 1 / 1; /* 方形比例 */
    object-fit: cover; /* 确保图片比例 */
}
